@import "tailwindcss";

:root {
  --background: #FCFAF8;
  --foreground: #3A2E2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-rose: #B76E79;
  --color-brand-rose-light: #FCF4F5;
  --color-brand-gold: #D4AF37;
  --color-brand-gold-light: #FAF4E5;
  --color-brand-cream: #FCFAF8;
  --color-brand-offwhite: #FAF9F6;
  --color-brand-dark: #2F2421;

  --font-montserrat: var(--font-montserrat);
  --font-playfair: var(--font-playfair);
  --font-cairo: var(--font-cairo);
  --font-tajawal: var(--font-tajawal);
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
}
